.card-container {
  padding: 24px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.card-title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.card-description {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card-active {
  background-color: #eeeeee;
  border-right: 2px solid gray;
}
